@{
    ViewData["Title"] = "GA Collections ";
}

<link rel="stylesheet" type="text/css" href="site.css">
<body>
    <nav>
        <ul>
            <li><a href="#">Arknights</a></li>
            <li><a href="#">Honkai Impact 3rd</a></li>
            <li><a href="#">Genshin Impact</a></li>
            <li><a href="#">Anime/Manga</a></li>
            <li><a href="#">All Products</a></li>
            <li><a href="#">All Collections</a></li>
            <li><a href="#">Announcement</a></li>
        </ul>
    </nav>
    <div class="wrapper">
    <section class="container" id="productContainer">
        <div class="column">
                <img src="~/Data_img\sp\HI3\sp1\4.PNG" alt="Product 1">
            <button class="add-to-cart-btn">Add to Cart</button>
        </div>
        <div class="column">
                <img src="~/Data_img\sp\HI3\sp2\5.PNG" alt="Product 2">
            <button class="add-to-cart-btn">Add to Cart</button>
        </div>
        <div class="column">
                <img src="~/Data_img\sp\HSR\sp1\1.PNG" alt="Product 3">
            <button class="add-to-cart-btn">Add to Cart</button>
        </div>
    </section>
    </div>
    <button id="addProductBtn">Thêm Sản Phẩm</button>
    <footer class="border-top footer text-muted">
        <div class="footer__blocks-wrapper">
            <div class="footer-block">
                <h2 class="footer-block__heading">Menu</h2>
                <ul class="footer-block__details-content">
                    <li><a href="/collections/a9">Arknights</a></li>
                    <li><a href="/collections/hi3">Honkai Impact 3rd</a></li>
                    <li><a href="/collections/gi">Genshin Impact</a></li>
                    <li><a href="/collections/anime-manga">Anime/Manga</a></li>
                    <li><a href="/collections/all-products">All Products</a></li>
                    <li><a href="/collections">All Collections</a></li>
                    <li><a href="/pages/annoucement">Announcement</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <h2 class="footer-block__heading">Follow Us</h2>
                <div class="footer-block__details-content">
                    <p><a href="https://twitter.com" target="_blank">Twitter</a></p>
                </div>
            </div>
            <div class="footer-block">
                <h2 class="footer-block__heading">Contact Us</h2>
                <div class="footer-block__details-content">
                    <p>giangthehiep2002@gmail.com</p>
                    <p><a href="/pages/about-us" target="_blank">About Us</a></p>
                </div>
            </div>
            <div class="footer-block">
                <h2 class="footer-block__heading">Policy</h2>
                <div class="footer-block__details-content">
                    <p><a href="/pages/terms-and-conditions" target="_blank">Terms & Conditions</a></p>
                    <p><a href="/pages/shipping-policy" target="_blank">Shipping Policy</a></p>
                    <p><a href="/pages/return-policy" target="_blank">Exchange and Return</a></p>
                    <p><a href="/pages/vat-policy-for-eu-customers" target="_blank">VAT Policy</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>
